
 

  .des9p {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .des9ptitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .des9ptitle:has(.des9ptitlebodylang:empty),
  .des9ptitle:has(.des9ptitlebodylang ul:empty) {
    display: none;
  }

  .des9ptitlebody {
    color: #ffffff;
    width: var(--max);
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 0px;
  }

  .des9ptitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .des9ptitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .des9ptitlebodylang:empty,
  .des9ptitlebodylang ul:empty {
    display: none;
  }

  .des9ptitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .des9pbody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    position: relative;
  }

  .des9p-mobile-toggle {
    display: none;
    background: #000;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  .des9p-mobile-toggle span {
    font-size: 24px;
  }

  .des9pmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .des9pmenulist {
    width: calc(100% - 20px);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .des9pmenubody {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .des9pmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  .des9pmenulist ul a {
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff !important;
    border-bottom: 1px solid transparent;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    margin: 0 2px;
  }

  .des9pmenulist ul a:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000 !important;
    cursor: pointer;
  }

  .des9pmenulist ul a.des9p-menu-list-active {
    color: #000000 !important;
  }

  .des9p-menu-list-active {
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000 !important;
    cursor: pointer;
  }

  .des9pmenulistbody {
    width: 100%;
  }

  .des9planguages-mobile {
    display: none;
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .des9planguages-mobile:empty,
  .des9planguages-mobile ul:empty {
    display: none !important;
  }

  .des9planguages-mobile ul {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
  }

  .des9planguages-mobile li {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    aspect-ratio: 1/1;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
  }

  .des9planguages-mobile li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .des9planguages-mobile li:hover {
    background-color: #ffffff;
    border-color: #000000;
  }

  @media screen and (min-width: 1024px) {
    .des9pbodylogo {
      height: 100px;
      max-width: 90vw;
      max-height: 100px;
    }

    .des9ptitle {
    margin-bottom: -30px;
  }


  }

  @media screen and (max-width: 1024px) {
    .des9pbody {
      width: calc(100% - 20px);
      padding: 0 10px;
      justify-content: center;
    }

    .des9pmenulist ul {
      flex-direction: row;
    }

    .des9pbodylogo {
      width: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }

    .des9ptitlebody {
      flex-direction: column;
      gap: 10px;
      align-items: center;
      display: none;
    }

    .des9ptitlebodytitle {
      text-align: center;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .des9ptitlebodylang {
      display: none;
    }

    .des9pbody {
      width: calc(100% - 20px);
      padding: 0 10px;
      justify-content: space-between;
    }

    .des9p-mobile-toggle {
      display: inline-flex;
    }

    .des9pbodylogo {
      width: 40vw;
      max-width: 40vw;
      max-height: 80px;
    }

    .des9pmenulist {
      display: none;
      flex-direction: column;
      width: calc(100% - 24px);
      padding: 12px;
    }

    .des9pmenu.des9pmenu-open .des9pmenulist {
      display: flex;
    }

    .des9pmenu.des9pmenu-open .des9planguages-mobile {
      display: block;
    }

    .des9pmenulist ul {
      flex-direction: column;
      gap: 0;
    }

    .des9pmenulist ul a {
      font-size: 14px;
      width: 100%;
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
    }

    .des9pmenulist ul a:last-child {
      border-bottom: none;
    }

    .des9pmenulist ul a:hover {
      background-color: #ffffff;
      border-radius: 0;
    }

    .des9ptitlebodytitle {
      font-size: 12px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Safari özel düzeltme */
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      .swiper-slide>img {
        height: auto;
        min-height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }

      .swiper-slide {
        overflow: hidden;
      }
    }
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .moduleimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moduleimg > img {
    width: 100%;
    max-width: 250px;
  }

  .footer {
    position: relative;
    background: #000;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  } 

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p { 
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

